.articles__container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .articles__container {
        flex-direction: column;
    }

    .articles__others {
        display: block;
        margin-top: 10px;
}
}