<section class="big-card__container">
<div class="big-card__photo">
    <img src="../../../assets/deep-sea-anglerfish.png" alt="velvet fish">
</div>
<div class="big-card__title">
    <a href="#">What we know about the depths of the ocean and why it is so risky to explore them</a>
</div>
<div class="big-card__description">
    <p>Although people have been exploring the ocean surface for tens of thousands of years, only about 20% of the seafloor has been mapped, according to 2022 data from the US National Oceanic and Atmospheric Administration (NOAA).

        Researchers often say that traveling to space is easier than diving to the bottom of the ocean. While 12 astronauts spent a collective total of 300 hours on the lunar surface, only three people spent about three hours exploring the Challenger Deep, the deepest known point on Earth's seafloor, according to the Woods Hole Oceanographic Institution.</p>
</div>    
</section>
