.big-card__container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.big-card__photo img {
    height: 300px;
    width: 100%;
    min-width: 600px;
}

.big-card__title a {
    margin-top: 15px;
    font-size: 20px;
    color: white;
    display: flex;
    text-align: center;
}

.big-card__description {
    margin-top: 20px;
}

.big-card__description p {
    color: rgb(223, 214, 214);
}

@media (max-width: 768px) {
    .big-card__container {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .big-card__photo img {
        height: auto;
        min-width: 100%;
    }

    .big-card__title a {
        margin-top: 10px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .big-card__title a {
        font-size: 16px;
    }
}